<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p align="right">،{{ FREELANCER_DISPLAY_NAME }} مرحباً</p>
<p align="right">
     قام بتعيينك مرة أخرى <a href="{{ EMPLOYER_LINK }}">{{ EMPLOYER_DISPLAY_NAME }}</a>
</p>
<p align="right">
الرجاء الدخول الآن بالضغط على الرابط لتاكيد أو رفض العمل
 <br /> 
    <a href="{{ JOB_LINK_PAGE }}">{{ JOB_NAME }}</a> 

<p align="right">
    ،شكراً لك
</p>
<p align="right">
     Ureed فريق عمل  
</p>

{{ txt2 }}

</body>
</html>